<h1>Tu carrito</h1>

<ul>
  {{#each cart.products}}
    <li>
      {{this.product.title}} - Cantidad: {{this.quantity}} - Precio unitario: ${{this.product.price}} - Subtotal: ${{multiply this.product.price this.quantity}}
    </li>
  {{/each}}
</ul>

<p><strong>Total: ${{calculateTotal cart.products}}</strong></p>

<a href="/">Seguir comprando</a>
