<h1>Lista de Productos</h1>

<a href="/carts/64ee8cb7caa5082d4b3e9644" style="display: inline-block; margin-bottom: 20px;">
  Ver Carrito Actual
</a>

<div id="productContainer" style="display: flex; flex-wrap: wrap; gap: 20px;">
  {{#each products.docs}}
    <div style="border: 1px solid #ccc; padding: 10px; width: 250px;">
      <h3>{{this.title}}</h3>
      <p><strong>Descripción:</strong> {{this.description}}</p>
      <p><strong>Precio:</strong> ${{this.price}}</p>
      <p><strong>Stock:</strong> {{this.stock}}</p>
      <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
      <br />
      <a href="/products/{{this._id}}">Ver producto</a>
    </div>
  {{/each}}
</div>

<div style="margin-top: 30px;">
  {{#if products.hasPrevPage}}
    <a href="/?page={{products.prevPage}}">Página anterior</a>
  {{/if}}

  <span> Página {{products.page}} de {{products.totalPages}} </span>

  {{#if products.hasNextPage}}
    <a href="/?page={{products.nextPage}}">Página siguiente</a>
  {{/if}}
</div>

<hr />

<h2>Agregar producto nuevo (real time)</h2>
<form id="productForm">
  <input type="text" name="title" placeholder="Título" required />
  <input type="text" name="description" placeholder="Descripción" required />
  <input type="number" name="price" placeholder="Precio" required />
  <input type="number" name="stock" placeholder="Stock" required />
  <input type="text" name="code" placeholder="Código" required />
  <input type="text" name="category" placeholder="Categoría" required />
  <button type="submit">Agregar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketClient.js"></script>
<script src="/js/addToCart.js"></script>
