<h1>Lista de Productos</h1>

<div id="cart-info" style="margin-bottom: 20px; font-weight: bold;">
  Productos en el carrito: <span id="cart-count">0</span>
</div>

<ul>
  {{#each products}}
    <li style="margin-bottom: 20px;">
      <strong>{{this.title}}</strong><br>
      Precio: ${{this.price}}<br>
      Categoría: {{this.category}}<br>
      <a href="/products/{{this._id}}">Ver detalle</a><br>

      <button class="add-to-cart" data-id="{{this._id}}" style="margin-top:5px;">
        Agregar al carrito
      </button>
    </li>
  {{/each}}
</ul>

<div style="margin-top:20px;">
  {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}">Anterior</a>
  {{/if}}

  Página {{currentPage}} de {{totalPages}}

  {{#if hasNextPage}}
    <a href="/?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>

<a href="#" id="view-cart" style="display:block;margin-top:15px;">Ver carrito</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketClient.js"></script>
<script src="/js/addToCart.js"></script>
