<h1>{{title}}</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong> - ${{this.price}}  
      <a href="/product/{{this._id}}">Ver detalle</a>
    </li>
  {{/each}}
</ul>

<div>
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
  {{/if}}

  <span>Página {{currentPage}}</span>

  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>
