<h1>Lista de productos en tiempo real</h1>

<form id="productForm" style="margin-bottom: 20px;">
  <input type="text" name="title" placeholder="Título" required />
  <input type="text" name="description" placeholder="Descripción" required />
  <input type="text" name="code" placeholder="Código" required />
  <input type="number" name="price" placeholder="Precio" required />
  <input type="number" name="stock" placeholder="Stock" required />
  <input type="text" name="category" placeholder="Categoría" required />
  <input type="text" name="thumbnail" placeholder="URL Imagen">
  <button type="submit">Agregar producto</button>
</form>

<!-- Contenedor de productos para WebSocket -->
<div id="realTimeProducts" style="display: flex; flex-wrap: wrap; gap: 20px;">
  {{#each productos}}
    <div class="product-card" style="border: 1px solid #ccc; padding: 10px; width: 250px;" data-id="{{this._id}}">
      <h3>{{this.title}}</h3>
      <p><strong>Descripción:</strong> {{this.description}}</p>
      <p><strong>Precio:</strong> ${{this.price}}</p>
      <p><strong>Stock:</strong> {{this.stock}}</p>
      <button class="delete-product-btn" data-id="{{this._id}}">Eliminar</button>
    </div>
  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketClient.js"></script>
